* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    max-width: 1440px;
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.box h2 {
    padding: 30px;
    font-size: 25px;
    text-align: center;
}


.form {
    width: 100%;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.form table thead tr th {
    font-size: 16px;
    padding: 5px;
    letter-spacing: 2px;
    vertical-align: top;
    border: 1px solid transparent;
}
.form table tbody tr td {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: normal;
    border: 1px solid transparent;
    text-align: center;
    padding: 5px;
}

.table {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table table thead {
    background: rgb(80, 80, 80);
    color: white;
}

table thead tr th {
    font-size: 16px;
    padding: 5px;
    letter-spacing: 2px;
    vertical-align: top;
    border: 1px solid grey;
}

table tbody tr td {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: normal;
    border: 1px solid grey;
    text-align: center;
    padding: 5px;
}

table tr {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: normal;
    border: 1px solid grey;
    text-align: center;
}

.delete {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.guardar {
    font-size: 14px;
    cursor: pointer;
    padding: 5px;
    display: block;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

}